/* put your custom css here */

.index-block {
    position: relative;
    display: block;
    width: 180px;
    height: 80px;
    background-color: #3b3f4f;
    padding: 15px;
    margin: 30px 0 0 30px;
    font-size: 32px;
    overflow: hidden;
    color: #FFF;
    line-height: 1.3em;
    float: left;
}

.index-block__icon {
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 64px;
    opacity: 0.3;
}

.index-block__value {
    font-size: 42px;
    font-weight: bold;
}

.index-block__key {
    font-size: 20px;
}
