{% extends "layout.html" %}

{% block body %}
    <div style="margin: 30px 30px 0;">{{ message }}</div>

    <div class="clearfix"></div>

    <div class="index-block">
        <i class="icon-user index-block__icon"></i>
        <div class="index-block__value">{{ total_users }}</div>
        <div class="index-block__key">Total users</div>
    </div>

    <div class="index-block">
        <i class="icon-adduseralt index-block__icon"></i>
        <div class="index-block__value">0</div>
        <div class="index-block__key">Your friends</div>
    </div>

    <div class="index-block">
        <i class="icon-finance index-block__icon"></i>
        <div class="index-block__value">1000</div>
        <div class="index-block__key">DAU</div>
    </div>

    <div class="index-block">
        <i class="icon-sun-day index-block__icon"></i>
        <div class="index-block__value">2240</div>
        <div class="index-block__key">MAU</div>
    </div>

    <div class="clearfix"></div>

    <div class="index-block">
        <i class="icon-invoice index-block__icon"></i>
        <div class="index-block__value">{{ total_posts }}</div>
        <div class="index-block__key">Total Posts</div>
    </div>

    <div class="index-block">
        <i class="icon-polaroid index-block__icon"></i>
        <div class="index-block__value">30 cm</div>
        <div class="index-block__key">Penis</div>
    </div>

    <div class="index-block">
        <i class="icon-calendaralt-cronjobs index-block__icon"></i>
        <div class="index-block__value">146%</div>
        <div class="index-block__key">Retention</div>
    </div>

    <div class="index-block">
        <i class="icon-calendarthree index-block__icon"></i>
        <div class="index-block__value">5.3%</div>
        <div class="index-block__key">Beer</div>
    </div>

{% endblock %}